.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(231, 231, 231);
  top: 0;
  left: 0;
}
.loginSignUpBox {
  background-color: white;
  width: 30vmax;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.LoginSignUpToggle {
  display: flex;
  height: 3vmax;
}
.LoginSignUpToggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.LoginSignUpToggle > p:hover {
  color: #0ee499;
}
.loginSignUpBox > div > button {
  background-color: #0ee499;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
  border-radius: 5px;
}
.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  height: 70%;
  justify-content: space-between;
  transition: all 0.5s;
}
.signUpForm {
  transform: translateY(-100%) translateX(-100%);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1vmax 0;
}
.loginForm > div > input,
.signUpForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 4px;
  font: 300 1vmax italic;
  outline: none;
}
.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.614);
}

.loginForm > a {
  color: rgba(0, 0, 0, 0.518);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  padding: 1vmax 0;
}
.loginForm > a:hover {
  color: black;
}

#signUpImage > img {
  width: 3vmax;
  border-radius: 100%;
}
#signUpImage > input {
  display: flex;
  padding: 0;
}

#signUpImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  height: 5vh;
  margin: 0;
  border: none;
  transition: all 0.5s;
  font: 300 1vmax italic;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.527);
  background-color: rgb(231, 231, 231);
}

.loginBtn,
.signUpBtn {
  width: 100%;
  border: none;
  background-color: #0ee499a5;
  padding: 0.8vmax;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.436);
  font: 300 1vmax cursive;
  outline: none;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: #0ee499;
}
.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}
.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: #fff;
  }
  .loginSignUpBox {
    width: 100%;
    height: 78%;
  }
  .LoginSignUpToggle > p {
    font: 300 2.5vmax "Roboto";
  }
  .loginForm,
  .signUpForm {
    padding: 5vmax;
  }
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2vmax 5vmax;
    font: 300 2.5vmax italic;
  }
  .loginForm > div > svg , 
  .signUpForm > div > svg{
    font-size: 3vmax;
  }
  .loginForm > a{
    font: 500 2.5vmax "Roboto";
    padding: 0;
  }
  #signUpImage > img{
    width: 5vmax;
  }
  #signUpImage > input::file-selector-button{
    height: 6vh;
    font: 400 2vmax italic;
  }
  .loginBtn,.signUpBtn{
    padding: 2vmax 0 ;
    font: 500 2.5vmax italic;
  }
}
