* {
  margin: 0;
  padding: 0;
}

.HomePage {
  padding: 1vmax;
  color: white;
  min-height: 100vh;
  background: linear-gradient(45deg, #0f2027, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePage > h1 {
  font-size: 5vmax;
}
.HomePage > p {
  font-size: 2vmax;
}
.HomePage > a {
  margin: 2rem 0;
  text-decoration: none;
}
.HomePage > a > button {
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  padding-inline-start: 1rem 2rem;
}
/* .HomePage::after {
  clip-path: polygon(0 89%, 100% 65%, 100% 100%, 0 100%);
  content: "";
  width: 100%;
  height: 101vh;
  position: absolute;
  background: white;
} */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}
.left > h1 {
  font: 400 3vmax italic;
}
.left > p {
  font: 300 2vmax cursive;
}
.left > a > button {
  display: flex;
  align-items: center;
  padding: 1vmax 3vmax;
  margin: 1vmax;
  border: 1px solid #00ffffed;
  border-radius: 30px;
  color: white;
  font: 300 1.2vmax cursive;
}
.right {
  flex: 1 1 0;
}
.right > img {
  filter: drop-shadow(12px 9px 8px black);
}
.product_heading {
  color: gray;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid grey;
  width: 30vmax;
}
.container {
  margin: 2vmax auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.product_card {
  color: #575b5c;
  width: 14vmax;
  margin: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
.product_card > img {
  width: 14vmax;
  height: -webkit-fill-available;
}
.product_card > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.product_card > div > span {
  font: 300 1.3vmax "roboto";
}
.product_card > p {
  margin: 1vmax 0;
  margin-bottom: 0;
  font-family: "roboto";
}
.product_card > span {
  margin: 0.5vmax, 0.5vmax;
  font-size: 1.5vmax;
  color: tomato;
}
.product_card:hover {
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.26);
  transform: translateY(-0.5vmax);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .product_card > span {
    font-size: 2vmax;
  }
  .product_card > div > span {
    margin: 0 0.05vmax;
    font: 300 1.5vmax "roboto";
  }
}
